#wrap{
float: left;
width: 100%;
height:500px;
padding: 0em 3.7em;
margin: 20px auto;
}
.smallimage {
background-color: #fff;
border: 1px solid #CCC;
padding: 3px;
margin: 10px 5px 0 0;
}

#a_box{
    float: left;
    /* 高さや幅など、好きな様に設定
    bms_messages_containerの方で、縦横いっぱいに広がってくれるので、
    ここで充てた高さと横幅がそのままスタイルになる仕組み */

    height:250px;/*ここはご自由に*/
    width: 75%;/*ここはご自由に*/
    }
    .box2 {
    float: right;
    width: 20%;
    padding: 3em 2em;
    margin: 1em 0;
    color: #2c2c2f;
    background: white;/*背景色*/
    }
    .box2 p {
        margin: 0; 
        padding: 0;
    }
    .box3 {
    float: right;
    width: 40%;
    padding: 3em 2em;
    margin: 1em 0;
    color: #2c2c2f;
    background: white;/*背景色*/
    }
    .box3 p {
        margin: 0; 
        padding: 0;
    }

    .box12{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
    }
    .box12 p {
        margin: 0; 
        padding: 0;
    }